@charset "utf-8";
/*CSS reset*/
html{color:#000;-webkit-text-size-adjust:none;}
body{
	margin:0;
	padding:0; 
	font-family:Arial,Montserrat,'Microsoft YaHei','Heiti SC',simhei,'Lucida Sans Unicode','Myriad Pro','Hiragino Sans GB',Verdana; 
	font-size:14px;
	color:#333358;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,iframe{
	margin:0;
	padding:0;
	
}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img,iframe{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}

sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
input:focus{ outline:none;}

/*b{font-weight:normal;}*/
i{font-style:normal;}
a{ color:#666666; text-decoration:none; cursor:pointer;}
a:hover{ color:#f8931d; text-decoration:none; cursor:pointer;}
.img_hover a{ border:1px solid #cccccc;}
.img_hover a:hover{ border:1px solid #cc0000;}
.redd a{color:#666666; text-decoration:none;}
.redd a:hover{ background:#FF0000; display:block;}
.d_n{display:none;}
.d_n{display:none;}
.oh{overflow:hidden;}
.z{zoom:1;}
.tl{ text-align:left;}
.fil{filter:Alpha(Opacity=30);}
.m_fil{filter:Alpha(Opacity=100);}
/*字体*/
.fm{font-family:Arial,\5FAE\8F6F\96C5\9ED1,\9ED1\4F53;}
.fms{font-family:Arial, Helvetica, sans-serif,;}

/*文字排版*/
.f10{ font-size:10px;}
.f12{ font-size:12px;}
.f14{ font-size:14px;}
.f16{ font-size:16px;}
.f18{ font-size:18px;}
.f20{ font-size:20px;}
.f24{ font-size:24px;}
.f28{ font-size:28px;}
.f30{ font-size:30px;}
.f36{ font-size:36px;}
.f40{ font-size:40px;}
.f48{ font-size:48px;}
.f60{ font-size:60px;}
.fb{ font-weight:bold;}
.t2{ text-align:2em;}
.unl{ text-decoration:underline;}
.unc{text-decoration:line-through;}
.no-unl{ text-decoration:none;}
.tc{ text-align:center;}
.tl{ text-align:left;}
.tr{ text-align:right;}
.fa{ font-family:Arial, Helvetica, sans-serif;}
.mt40{ margin-top:40px;}
.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.a3{ color:#a3a3a3;}
.ml10{ margin-left:10px;}
.ml20{ margin-left:10px;}
.mr10{ margin-right:10px;}
.mr20{ margin-right:20px;}
.mb20{ margin-bottom:20px;}
.mr25{ margin-right:25px;}
.mr100{ margin-right:100px;}
.m20{margin:20px;}
.pt120{ padding-top:120px;}
.mr0{ margin-right: 0px !important;}
.mb10{ margin-bottom:10px;}
.w600{ width:600px;}
.w800{ width:800px;}
.w700{ width:700px;}
.w770{ width:770px;}
.w472{width:472px;}
.w198{ width:199px;}
.w300{ width:300px;}
.w320{ width:320px;}
.w400{width:400px!important;}
.w500{width:500px;}
.w300{ width:300px;}
.w322{width:322px;}
.w160{ width:160px;}
.w100{ width:100px!important;}
.w50{ width:50px;}
.w55{ width:55px; }
.w80{ width:80px;}
.w30{ width:30px;}
.ww50{width:50%;}
.h500{ height:500px;}
.h100{ height:100px;}
.h60{ height:60px;}
.h200{ height:200px;}
.h300{ height:300px;}
.ml100{margin-left:100px;}
.border-r{border-right:1px solid #eee;}
.m_line{ background:url(../images/xuline_c.gif) center center repeat-x;}
.m_tittle{ background:#fff; text-align:center; height:50px; line-height:50px; font-size:36px; color:#0d5e9e; margin:20px auto;font-family:\5FAE\8F6F\96C5\9ED1,\9ED1\4F53;}
.lh60{ line-height:60px; height:60px;}
.lh30{ line-height:30px;}
/*定位*/
.bc{ margin:0 auto;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.clear{ clear:both;}

.clearfix:after{ content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix{ display:inline-block;}*html.clearfix{ height:1%}.clearfix{ display:block;}
.hidden{ visibility:hidden;}
.none{ display:none;}
.none1{ display:none!important;}
.oh{ overflow:hidden;}
.op3{opacity:0.3; filter:"alpha(opacity=30)"; -ms-filter:"alpha(opacity=30)";}ss


/*行高*/

/*边距*/

.left{ float:left;}
.right{ float:right;}
/*颜色*/
.lan{ color:#1b9bff;}
.red{color:#de0202;}
.qlan{ color:#00acd1;}
.yellow{ color:#fe9b00;}
.green{ color:#26d903;}
.gay_9{ color:#999;}
.lu{ color:#7bac00;}
.bg_l{ background:#eef5fb;}
.bg_h{ background:#fdf2d3;}
.bg_1{background:#eef5fb;}
.w200{ width:200px;}
/* jquery.validate插件错误样式-请勿覆盖 */
.error{color:#f00;}