@charset "utf-8";
@import url("css.css");

body{ background:#ebeff2;}
/*---------------------------------top------------------------------*/
.head_top{ width:100%; top:0px; z-index:99999;}
.top{ background: #1b9bff; width:100%; height:28px; overflow:hidden;}
.top_contact{width:1200px; height:29px; line-height:29px;  margin:0px auto; text-align:center; }
.top_contact_l{ float:left;}
.top_contact_l ul li{ float:left; margin-right:5px; color:#fff;}
.top_phone{ background:url(../images/top_phone.jpg) 0px 3px no-repeat;  height: 30px; padding-left:26px; color:#f6931c; font-size:14px; display: block; margin-right:50px;}
.top_contact_r{ float:right; margin-right:0px;}
.top_contact_r ul li{ float:left; padding:0px 10px; }
.top_contact_r ul li a{ display:block; color:#fff;}
.top_contact_r ul li a:hover{ display:block; color:#fff;}
.top_c1{ background:url(../images/top_ico_01.png) 5px 5px no-repeat; padding-left:25px;}
.top_c2{ background:url(../images/top_ico_02.png) 5px 5px no-repeat; padding-left:25px;}
.top_fx{ height:40px; line-height:40px;}
.top_fx a{ float:left; display:block; margin-right:10px; margin-top:10px;}



/*---------------------------------logo------------------------------*/
.head{ width:100%; box-shadow:0px 2px 5px #ccc; height:72px; background:#fff;}
.top_head{ width:1200px; margin:0px auto 20px auto; height:52px; padding-top:15px;}
.logo{ float:left; background:url(../images/logo.png) no-repeat; width:300px; height:42px; position:relative;}
.logo a{ width:222px; cursor:pointer; position:absolute; left:0px;}

/*.nav_box{ width:100%; border-top:2px solid #e6e6e6;}
.nav{ float:right; height:57px; margin-top:0px;}
.nav ul{ margin-top:-2px;}
.nav ul li{ width:100px; float:left; font-size:16px; height:57px; line-height:57px;  text-align:center; margin:0px 10px; font-family:\5FAE\8F6F\96C5\9ED1,\9ED1\4F53;}
.nav ul li a{ color:#666; display:block; }
.nav ul li a:hover{ color:#666; display:block; border-bottom:3px solid #ffba00;}
.nav ul li.now a{ color:#666; display:block; border-bottom:3px solid #ffba00;}*/



/*------------------------------子菜单-----------------------------*/

/*.navmenu{ position:relative;}
.navmenu a:hover{}
.navmenu-list{position:absolute; z-index:9999999; background:url(../images/nav_sj.png) top center no-repeat; text-align:left; top:62px; left:0px;}
*+html .navmenu-list{ top:62px; left:-1px;}
.navmenu-list ul{ padding-top:8px;}
.navmenu-list ul li{width:100px!important; border:0px!important; background:#53b3ff!important; padding:0px 0px!important;  text-align:center; line-height:40px!important;height:40px!important;  margin:0px!important;}
.navmenu-list a{color:#fff!important;text-decoration:none;border-top:0px solid #ee6212 !important; font-size:14px;background:#53b3ff!important; display:block; text-align:center;font-weight:normal!important; border-bottom:0px solid #339!important;}
.navmenu-list a:hover{text-decoration:none;display:block; background:#4f98d4 !important; color:#fff!important; display:block; border-bottom:1px dotted #0d5d9c!important;}


/*---------------------------------news------------------------------*/
.news_box{ width:100%; height:50px; line-height:50px; overflow:hidden;}
.news_list{ width:1200px; margin:0px auto;}
.news_list ul { width:1000px; float:left;}
.news_list ul li{ overflow:hidden;}
.news_list ul li a{ color:#666;}
.time{ float:right; width:100px; background:url(../images/time_ico.png) left no-repeat; padding-left:30px;}
.news_ico{ float:left; width:30px; background:url(../images/news_ico.png) left no-repeat; display:block;}


/*---------------------------------body------------------------------*/
.cont_box{ width:100%; background:#efefef; padding:20px 0px;overflow:hidden; }
.cont{ width:1200px; margin:0px auto 50px auto; overflow:hidden;}
.seach_box{ background:#fff; overflow:hidden; padding:20px ; border:1px solid #e7ebee; border-bottom-width:3px; border-radius:5px; margin-bottom:20px; position:relative;}
.seach_box ul{ overflow:hidden;}
.seach_box ul li{ float:left;}
.seach_box input{ height:26px; width:150px; color:#666; line-height:26px; border:1px solid #dfe9f2; border-radius:5px; background:#fff; padding:0px 5px; margin-right:20px;}
.seach_box select{height:26px;  color:#666; line-height:26px; border:1px solid #dfe9f2; border-radius:5px; background:#fff; padding:0px 5px; margin-right:20px;}
.seach_box span{ float:left; padding:0px 5px;}
.date_box{ float:left; position:relative;}
.date_ico{background:url(../images/date_ico.png) no-repeat; display:block; width:15px; height:15px; position:absolute; right:5px; top:6px;}
.seach_box label{ float:left; margin-right:10px; line-height:26px;}
.sswitch { position:absolute; top:0px; right:0px; width:23px; height:25px; background:url(../images/switch.png) no-repeat; cursor:pointer; }
.sswitch1 {  height:25px;  cursor:pointer; }

.switcht_1 { position:absolute; top:0px; right:0px; width:23px; height:25px; background:url(../images/switch1.png) no-repeat; cursor:pointer; }
.button_yellow a{ display:block; width:60px; height:26px; line-height:26px; background:#ffba00; border-radius:5px; margin-right:15px; text-align:center; color:#fff;}
.button_gary a{ display:block; width:60px; height:26px; line-height:26px; background:#c1bfbf; border-radius:5px; text-align:center; color:#fff;}
.more_jia a{ position:absolute; right:0px; top:0px; background:url(../images/ss_jia.png) no-repeat; display:block; width:23px; height:23px;}

.table_box{ background:#fff; overflow:hidden; border:1px solid #e7ebee; border-bottom-width:3px;  border-radius:5px; margin-bottom:20px;}
.table_top{ height:50px; overflow:hidden;}
.table_nav{ padding:8px 20px; float:left; width:800px;}
.table_nav ul li span{ width:18px; height:20px; padding-right:5px; float:left; margin-top:5px;}
.table_nav ul li{ line-height:30px;}
.table_nav ul li a{ display:block; float:left; margin-right:10px; border:1px solid #dfe9f2; height:30px; line-height:30px; border-radius:5px; padding:0px 10px;}
.table_nav ul li a:hover{ display:block; /*background:#f7f7f7;*/ color:#333;}

.table_nav dd span{ width:18px; height:20px; padding-right:5px; float:left; margin-top:5px;}
.table_nav dd{ line-height:30px;}
.table_nav dd a{ display:block; float:left; color:#1b9bff; margin-right:10px; border:1px solid #dfe9f2; height:30px; line-height:30px; border-radius:5px; padding:0px 10px;}
.table_nav dd a:hover{ display:block; background:#f7f7f7; color:#1b9bff;}

.tab_nav{ padding:9px 20px; float:left; width:800px;}
.tab_nav ul li span{ width:24px; height:24px; padding-right:5px; float:left; margin-top:2px;}
.tab_nav ul li{ line-height:30px; float:left; margin-right:10px;}
.tab_nav ul li a{ display:block; float:left; margin-right:10px; height:30px; line-height:30px; border-radius:5px; padding:0px 10px;}
.tab_nav ul li a:hover{ display:block; background:#f7f7f7; color:#333;}

.rline{ border-right:1px solid #eae9e9;}

.table_nav_r{ float:right;padding:10px 8px; }
.table_nav_r span{ width:18px; height:20px; padding-right:20px;}
.table_nav_r ul li a{ display:block; background:#ffba00; float:left; margin-right:10px; border:1px solid #ffba00; height:26px; line-height:26px; border-radius:5px; padding:0px 8px; color:#fff;}

.tab_nav_r{ float:right; }
.tab_nav_r span{ width:18px; height:20px; padding-right:15px !important; float:none !important;}
.tab_nav_r i{ width:18px; height:20px; padding-right:20px;}
.tab_nav_r ul li a{ display:block; background:#ffba00; float:left; margin-right:10px; border:1px solid #ffba00; height:26px; line-height:26px; border-radius:5px; padding:0px 8px; color:#fff;}
.but_w_edit{ background:url(../images/edit_ico_w.png) no-repeat;}
.but_ico1{ background:url(../images/button_ico_01.png) no-repeat;}
.but_ico2{ background:url(../images/button_ico_02.png) no-repeat;}
.but_ico3{ background:url(../images/button_ico_03.png) no-repeat;}
.but_ico4{ background:url(../images/button_ico_04.png) no-repeat;}
.but_ico5{ background:url(../images/button_ico_05.png) no-repeat;}
.but_ico6{ background:url(../images/button_ico_06.png) no-repeat;}
.menu_ico1{background:url(../images/menu_ico_01.png) no-repeat;}
.menu_ico2{background:url(../images/menu_ico_02.png) no-repeat;}
.menu_ico3{background:url(../images/menu_ico_03.png) no-repeat;}
.menu_ico4{background:url(../images/menu_ico_04.png) no-repeat;}
.menu_ico5{background:url(../images/menu_ico_05.png) no-repeat;}
.menu_ico6{background:url(../images/menu_ico_06.png) no-repeat;}

.cznav_ico1{background:url(../images/czmx_ico_01.png) no-repeat;}
.cznav_ico2{background:url(../images/czmx_ico_02.png) no-repeat;}
.cznav_ico3{background:url(../images/czmx_ico_03.png) no-repeat;}

.but_add{ background:url(../images/add_ico.png) no-repeat;}
.bj_ico{ background:url(../images/edit_ico.png) no-repeat; padding-left:20px;}
.dr_ico{ background:url(../images/dr_ico.png) no-repeat; padding-left:20px;}
.phone_ico{ background:url(../images/phone_ico.png) no-repeat; padding-left:20px;}
.del_ico{ background:url(../images/del_ico.png) no-repeat; padding-left:20px;}
/* .table_con table tr th{ height:45px; line-height:45px; background:#f7f7f7; border-bottom:1px solid #eae9e9; text-align:center;}
.table_con table tr td{ height:40px; line-height:40px; text-align:center;} */

.table_con_cz table tr th{ height:45px; line-height:45px; background:#f7f7f7; border-bottom:1px solid #eae9e9; text-align:center;}
.table_con_cz table tr td{ height:60px; line-height:60px; text-align:center; border-top:1px solid #f5f5f5;}

.table_cz a{ color:#1b9bff; margin-right:10px;}
.pxbox{ position:relative;}
.px{background:url(../images/jt.png) no-repeat; position:absolute; top:2px; right:-20px; width:13px; height:14px; display:block;}
.px2{background:url(../images/jt1.png) no-repeat; position:absolute; top:2px; right:-20px; width:13px; height:14px; display:block;}

.pages{ height:40px; line-height:40px; padding:0px 20px; margin:20px 0px;}
.pages_l{ float:left;}
.pages_l select{ border:1px solid #dfe9f2; height:20px; line-height:20px; margin:0px 5px;}

.pages_r{ float:right;}
.pages_r ul li{ float:left; margin-right:5px;}
.pages_r ul li a{ border:1px solid #dfe9f2; text-align:center; color:#666; padding:0px 10px; height:30px; line-height:30px; display:block;}
.pages_r ul li a:hover{ border:1px solid #ffba00; text-align:center; color:#fff; background:#ffba00; padding:0px 10px; height:30px; line-height:30px; display:block;}
.pages_r ul li a.now{ border:1px solid #ffba00; text-align:center; color:#fff; background:#ffba00; padding:0px 10px; height:30px; line-height:30px; display:block;}


.footer{ background:none; position:relative; overflow:hidden; height:50px; width:100%; position:fixed; bottom:0px; left:0px;}
.footer_l{ float:left; width:60%; background:#1b9bff; margin-top:10px; height:47px; border-top-right-radius:30px; position:relative;}
.fotter_nav{ width:750px; float:right;}
.fotter_nav ul li{float:left; width:100px; margin-left:20px; color:#fff; display:block; line-height:42px; height:42px; position:relative;}
.fotter_nav ul li a{ float:left; width:80px; margin-left:10px; color:#fff; display:block; line-height:42px; height:42px;}
.fotter_nav ul li b{ width:10px; margin-right:20px; color:#fff; display:block; line-height:42px; height:42px; position:absolute; right:-5px; top:0px;}
.fotter_nav .now{background:url(../images/boottom_now_bg.png) top no-repeat; margin-top:-4px;  width:101px; color:#fff; display:block; height:47px; line-height:47px; position:relative;}
.fotter_nav ul li span{ margin:0px 10px; position:absolute; top:15px; right:5px; z-index:9999999999; width:10px; height:10px;}
.close_ico{background:url(../images/close_ico.png) center right no-repeat; }
.close_ico1{background:url(../images/close_ico.png) center right no-repeat; padding-right:15px;}
.jtr_ico{background:url(../images/jt_r.png) center right no-repeat; marign-right:30px;}
.close_all{ position:absolute; right:0px; top:0px;margin-right:50px; }
.close_all a{ color:#fff; line-height:42px;margin-right:10px;  float:left;}
.close_all b{ float:left; width:10px; margin-right:0px;display:block; line-height:42px; height:42px;}
.footer_r{ float:right;margin-top:10px; width:41%;height:42px; border-top-left-radius:30px; background:rgba(0,0,0, 0.5); position:absolute; left:59%; padding-left:50px; color:#fff; line-height:47px;}



.left_box{ float:left; width:258px; height:580px; overflow:hidden; background:#fff; overflow:hidden; border:1px solid #e7ebee; border-bottom-width:3px;  border-radius:5px; margin:20px 20px 20px 0px;}
.tree{ margin:20px;}
.tree_tittle{ margin-bottom:10px; line-height:50px; display:block;}
.tree_tittle span{ float:left; width:1px; height:30px;}
.tree_tittle .tittle{ width:160px; overflow:hidden; height:20px; margin-bottom:10px; line-height:20px; color:#999;}
.tree ul{ height:450px; overflow:hidden;}
.tree ul li{ line-height:36px; display:block; }
.tree a{color:#999;}
.tree dl{ padding-left:25px;}
.tree dt{ line-height:28px;background:url(../images/file_yuan.png) 0px 10px no-repeat; padding-left:10px;}
.tree dd{ font-size:12px; line-height:28px;background:url(../images/file_yuan1.png) 0px 10px no-repeat; padding-left:10px;}
.tree_zl_ico{background:url(../images/file_02.png) no-repeat; padding-left:30px;}
.tree_ss_ico{background:url(../images/file_01.png) no-repeat; padding-left:30px;}
.tree_dt_ico{}
.tree_dd_ico{}
.bottom_line{ border-bottom:1px solid #ccc; padding-bottom:10px; width:110px;}

.right_box{ float:right; width:918px; background:#fff; overflow:hidden; border:1px solid #e7ebee; border-bottom-width:3px;  border-radius:5px; margin:20px 0px 20px 0px; height:580px;}
.right_box h1{ background:#f7f7f7; height:45px; line-height:45px; border-bottom:1px solid #eae9e9; color:#999999; font-size:14px; padding-left:20px;}
.right_con{ margin:80px 50px;}
.bmxx ul li{ color:#666; line-height:40px; padding-left:60px; margin-bottom:20px;}
.bmxx ul li span{ color:#999; margin-right:30px;}
.bm_ico1{background:url(../images/bm_set_ico_01.png) no-repeat;}
.bm_ico2{background:url(../images/bm_set_ico_02.png) no-repeat;}
.bm_ico3{background:url(../images/bm_set_ico_03.png) no-repeat;}

.bm_but{ border-top:1px dashed #eae9e9; padding-top:50px; margin-bottom:50px; overflow:hidden;}
.bm_but ul li{ border:1px solid #dfe9f2;  background:#fff; float:left; margin-right:20px; line-height:42px; height:42px; width:130px; text-align:center; border-radius:5px;}
.bm_but ul li a{ display:block; padding-left:30px; color:#999;}
.bm_but ul li a:hover{ display:block; padding-left:30px; color:#999;}
.bm_but ul li a.now{ display:block; padding-left:30px; color:#58b6ff;}
.bm_butico1{background:url(../images/bm_set_but_ico_01.png) 20px 8px no-repeat;}
.bm_butico1:hover{background:url(../images/bm_set_but_ico_01h.png) 20px 8px no-repeat;}
.bm_butico1_now{background:url(../images/bm_set_but_ico_01h.png) 20px 8px no-repeat;}

.bm_butico2{background:url(../images/bm_set_but_ico_02.png) 20px 8px no-repeat;}
/*.bm_butico2:hover{background:url(../images/bm_set_but_ico_02h.png) 20px 8px no-repeat;}*/

.bm_butico3{background:url(../images/bm_set_but_ico_03g.png) 20px 8px no-repeat;}
/*.bm_butico3:hover{background:url(../images/bm_set_but_ico_03h.png) 20px 8px no-repeat;}*/

.del_butico{background:url(../images/bm_set_but_ico_03.png) 20px 8px no-repeat;}
.del_butico:hover{background:url(../images/bm_set_but_ico_03.png) 20px 8px no-repeat;}

.save_butico{background:url(../images/save_but_ico.png) 20px 8px no-repeat;}
.save_butico:hover{background:url(../images/save_but_icoh.png) 20px 8px no-repeat;}
.save_butico_now{background:url(../images/save_but_icoh.png) 20px 8px no-repeat;}

.tree_next { border-top:1px solid #ccc; padding-top:20px; width:160px; margin:10px auto;}
.tree_next a{ display:block; height:40px;}
.tree_l{background:url(../images/tree_last.png) no-repeat; display:block; width:24px; height:24px; float:left;}
.tree_l:hover{background:url(../images/tree_lasth.png) no-repeat; display:block; width:24px; height:24px; float:left;}
.tree_r{background:url(../images/tree_next.png) no-repeat;display:block; width:24px; height:24px; float:right;}
.tree_r:hover{background:url(../images/tree_nexth.png) no-repeat;display:block; width:24px; height:24px; float:right;}


/*----------------------------------------弹出窗口-----------------------------------*/
.t_window{ background:#000; position:fixed; width:100%; height:100%; overflow:hidden; top:0px; left:0px; filter:alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity:0.3; opacity:0.3; z-index:99999;}
.window_box { width:660px; margin:0px auto; position:fixed; top:50%; left:50%; margin-left:-330px; margin-top:-300px; background-color:#FFF; z-index:100; box-shadow:0px 0px 8px #999; border-radius:10px; overflow:hidden; z-index:999999;}
.window_box1 { width:660px; margin:0px auto; position:fixed; top:50%; left:50%; margin-left:-330px; margin-top:-150px; background-color:#FFF; z-index:100; box-shadow:0px 0px 8px #999; border-radius:10px; overflow:hidden; z-index:999999;}
.window_box2 { width:800px; margin:0px auto; position:fixed; top:50%; left:50%; margin-left:-400px; margin-top:-250px; background-color:#FFF; z-index:100; box-shadow:0px 0px 8px #999; border-radius:10px; overflow:hidden; z-index:999999;}
.window_rz { width:400px; margin:0px auto; position:fixed; top:50%; left:50%; margin-left:-200px; margin-top:-200px; background-color:#FFF; z-index:100; box-shadow:0px 0px 8px #999; border-radius:10px;  z-index:999999;}

.t_window_close { position:absolute; top:20px; right:20px; }
.wlogin_box{ padding:20px 0px; width:100%; margin:0px auto 0px auto; font-size:14px; position:relative; background:#ebeff2;}

.l_tittle{ line-height:65px; height:65px; background:#f7f7f7; padding-left:20px; border-bottom:1px solid #dcd9d9;}
.l_tittle h1{ font-size:16px; color:#666; font-weight:normal;}


.w_text{ height:40px; line-height:40px; border:0px; border:1px solid #d8d8d8; width:330px; color:#999; font-size:14px; padding:0px 10px;}
.w_text:hover{border:1px solid #1b9bff;/*box-shadow:0px 0px 5px #ffe1e1;*/ }

.wlogin{ margin:0px auto 80px auto; overflow:hidden; width:620px;}
.wlogin ul li{ margin-bottom:10px; margin-top:10px; position:relative; color:#646464; overflow:hidden;}
.wlogin span{ position:relative; float:left; width:100px; margin-right:10px; text-align:right; padding-right:20px;line-height:40px; height:40px; color:#646464;}
.wlogin b{ color:#f70b0b; position:absolute; right:15px;}
.text_input{ position:relative;}
.text_input i{ position:absolute; left:490px; top:10px; color:#f55354; font-size:12px; width:200px;}
.ca_ico{background:url(../images/ca.png)left no-repeat; display:block; padding-left:20px;}
.hqyzm{ width:100px; height:40px; line-height:40px; background:#f8f8f8; text-align:center;}
.tj_c{background:url(../images/close_ts.jpg)left no-repeat; padding-left:20px; font-size:12px; color:#999;}

/* .w_bottom{ border-top:1px solid #dcd9d9; width:100%; height:100px; background:#f7f7f7; margin-top:20px; position:absolute; bottom:0px; left:0px;}
.w_bottom ul{ text-align:center; width:320px; margin:10px auto;}
.w_bottom li{border:1px solid #dfe9f2; background:#cecfd0; float:left; margin-right:20px; line-height:42px; height:42px; width:130px; text-align:center; border-radius:5px;}
.w_bottom li a{ display:block; padding-left:30px; color:#fff; text-align:center;}
.w_bottom ul li a:hover{ display:block; padding-left:30px; color:#fff; background-color:#8d8d8d;}
.w_bottom ul li a.now{ display:block; padding-left:30px; color:#fff; background-color:#1b9bff;}
.w_bottom ul li a.now:hover{ display:block; padding-left:30px; color:#fff; background-color:#0f548a;} */

.pw_bottom{ border-top:1px solid #dcd9d9;width:100%; height:70px; background:#f7f7f7; margin-top:20px; position:absolute; bottom:0px; left:0px;}
.pw_bottom ul{ text-align:center; width:320px; margin:15px auto;}
.pw_bottom li{ margin-bottom:0px !important;}
.pw_bottom li a{ display:block; text-align:center;}
.w_sure_but{ display:block; width:130px; height:38px; line-height:38px; border:1px solid #dfe9f2; background:#fff; color:#1b9bff; border-radius:5px;}

.rzlogin_box{ padding:30px 0px; width:100%; margin:0px auto 20px auto; font-size:14px; background:#ebeff2;}
.rzlogin{ margin:0px auto 50px auto; width:360px; display:block;}
.rzlogin ul li{ position:relative; color:#646464; margin-bottom:20px; display:inline-block;}
.rzlogin span{ position:relative; float:left; width:150px;  background-color:#c9c9c8; width:58px; height:40px;}
.rzlogin b{position:absolute; left:15px; top:10px; width:26px; height:26px;}

.rz_input{ background:#fff; width:248px; height:40px; line-height:40px; border:1px solid #e4e4e4;}
.rz_input:hover{ background:#fff; width:248px; height:40px; line-height:40px; border:1px solid #ffba00;}
.rz_input:hover i{ display:block;}
.rzlogin ul li i{ display:none;background:url(../images/ca.png) 10px center no-repeat;position:absolute; right:-132px; top:0px; color:#ff0000; z-index:9999999; background-color:#fff; border:1px solid #f55354; padding:0px 20px 0px 30px;}
.rzlogin ul li em{background:url(../images/win_sj_ts.png)no-repeat; position:absolute; left:-7px; top:13px; width:7px; height:8px; display:block;}
.rz_text{ height:40px; line-height:40px; border:0px; width:185px; color:#999; font-size:14px; text-indent:10px;}
.rz_ico1{background:url(../images/phone_bd_ico_01.png)no-repeat; display:block; }
.rz_ico2{background:url(../images/phone_bd_ico_02.png)no-repeat; display:block; }
.rz_ico3{background:url(../images/win_email_ico.png)no-repeat; display:block; }
.phoneyzm a{ display:block; background:#fff;  margin-right:20px; border:1px solid #e5e5e5; height:40px; line-height:40px; text-align:center; color:#1b9bff; padding:0px 20px; margin-left:10px;}

.window_ts{ margin:0px 30px 50px; font-size:18px; color:#aaa; line-height:38px; display:block;}
.window_ts span{ float:left; width:38px; height:38px; margin-right:20px; background-color: transparent !important;}
.win_worong{background:url(../images/win_warning.png)no-repeat; display:block;}


.aj_box{padding:20px 0px; width:100%; margin:0px auto 20px auto; font-size:14px; position:relative; background:#fff;}
.aj_con h1{ margin:0px 20px; color:#3d3d3d; font-size:16px; line-height:30px; height:30px;}
.aj_con h1 span{ width:30px; float:left; height:30px; display:block; margin-right:10px;}
.zq_ico1{background:url(../images/aj_ico_01.png) no-repeat;}
.zq_ico2{background:url(../images/aj_ico_02.png) no-repeat;}
.al_con_xx{ margin:10px 0px 20px 0px; overflow:hidden;}
.al_con_xx ul{ height:40px; line-height:40px; overflow:hidden;}
.al_con_xx ul li{ float:left; width:250px;color:#3d3d3d;}
.al_con_xx ul li span{ color:#999; margin-right:10px; text-align:right; width:120px; display:block; float:left;}

.al_text{ width:110px; height:30px; line-height:30px; background:#fff; border:1px solid #dfe9f2; margin-top:5px; margin-right:5px; color:#999;}
.al_select{ width:110px; height:30px; line-height:30px; background:#fff; border:1px solid #dfe9f2; margin-top:5px; margin-right:5px; color:#999;}

.tj_but a{ display:block; height:36px; line-height:36px; border-radius:5px; width:150px; color:#fff; background:#ffba00; text-align:center; font-size:14px; margin:30px auto 0px auto;}





.dxbq{ line-height:40px;}
.dxbq label{ width:100px; float:left;}
.select_text{ line-height:40px; /*background:url(../images/lb_sj.png) right no-repeat;*/ background:#fff; width:350px; overflow:hidden; }
.select_text select{line-height:40px; height:40px; border:0px; border:1px solid #d8d8d8; width:350px; padding-left:10px;-webkit-appearance: none; /*for chrome*/background: transparent; color:#999;}
/*.select_text select option{ overflow:hidden; width:350px; border:0px; line-height:40px; background: transparent;}*/

.mm_con{ margin:20px 50px; overflow:hidden;}
.mm_con h1{background:url(../images/warning.png) left no-repeat; padding-left:30px; line-height:50px; border-bottom:1px solid #e6e6e5; color:#959a9e; font-size:15px;}
.mmtext{ margin: 50px 20px;}
.mmtext ul li{ margin-top:30px; position:relative; color:#646464; overflow:hidden;}
.mmtext span{ float:left; line-height:40px; width:80px;}
.mm_text{height:40px; line-height:40px; border:0px; width:320px; color:#999; font-size:14px; text-indent:10px; border:1px solid #e5e5e5;}
.mm_text1{ height:40px; line-height:40px; border:0px; width:120px; color:#999; font-size:14px; text-indent:10px; border:1px solid #e5e5e5; float:left;}
.next_but{ margin-left:80px;}
.next_but a{ display:block; width:120px; text-align:center; color:#fff; height:45px; line-height:45px; background:#ffba00;}

/*----------------------------------------基本信息-----------------------------------*/
.base_con{ margin:40px 80px; overflow:hidden;}
.base_con2{ margin:30px 80px; overflow:hidden;}
.base_con h1, .base_con2 h1{ padding-left:0px; line-height:50px; border-bottom:1px solid #e6e6e5; color:#3d3d3d; font-size:16px; padding-bottom:10px;}
.base_con span, .base_con2 span{ float:left; width:38px; height:38px; display:block; margin-right:10px; margin-top:5px;}
.base_ico1{background:url(../images/rz_ico_01.png) no-repeat;}
.base_ico2{background:url(../images/rz_ico_02.png) no-repeat;}
.base_ico3{background:url(../images/rz_ico_03.png) no-repeat;}
.base_ico4{background:url(../images/rz_ico_04.png) no-repeat;}
.base_ico5{background:url(../images/rz_ico_05.png) no-repeat;}
.base_input{}
.b_text{ height:40px; line-height:40px; border:0px; border:1px solid #d8d8d8; width:400px; color:#999; font-size:14px; padding:0px 10px;}
.b_text:hover{border:1px solid #ffba00;/*box-shadow:0px 0px 5px #ffe1e1;*/ }
.base_box{ margin:30px auto 30px auto; overflow:hidden; width:700px;}
.base_box ul li{ margin-bottom:20px; margin-top:20px; position:relative; color:#646464; overflow:hidden;}
.base_box span{ position:relative; float:left; width:150px; margin-right:10px; text-align:right; padding-right:20px;line-height:40px; height:40px; color:#3d3d3d;}

.base_boxrz{ margin:10px auto 0px auto; overflow:hidden; width:700px;}
.base_boxrz em{  float:left; margin-right:10px; text-align:right; padding-right:20px;line-height:50px; height:40px; color:#999;}
.base_boxrz ul li{ margin-bottom:10px; margin-top:10px; position:relative; color:#646464; overflow:hidden;}
.base_boxrz span{ position:relative; float:left; width:150px; margin-right:10px; text-align:right; padding-right:20px;line-height:40px; height:40px; color:#3d3d3d;}

.base_box b{ color:#f70b0b; position:absolute; right:15px;}
.base_select_text{ line-height:40px; /*background:url(../images/lb_sj.png) right no-repeat;*/ width:130px; overflow:hidden;}
.base_select_text select{line-height:40px; height:40px; border:0px; border:1px solid #d8d8d8; width:130px; padding:0px 10px; -webkit-appearance: none; /*for chrome*/background: transparent; color:#999;}
/*.base_select_text select option{ overflow:hidden; width:140px; border:0px; line-height:40px; background: transparent;}*/
.base_add_pic{ float:left;}
.base_add_pic a{ display:block; background:url(../images/base_add_pic.png) no-repeat; width:118px; height:101px; }
.base_add_picd{ float:left; margin-right:-30px; overflow:hidden;}
.base_add_picd p{ text-align:center; color:#1b9bff;}
.base_add_picd a{ display:block; background:url(../images/base_add_pic.png) bottom no-repeat; width:118px; height:130px; float:left; margin-right:30px;}

.uppic_ts{ text-align:left; margin-top:10px; background:url(../images/warning_g.png) left no-repeat; padding-left:30px;}
.uppic_ts i{ color:#f93939; cursor:pointer;}

.base_but{border-top:1px dashed #e6e6e5; margin:50px; overflow:hidden;}
.base_but a{ display:block; height:45px; border-radius:5px; line-height:45px; background:#ffba00; text-align:center; color:#fff; font-size:16px; margin:30px auto; width:160px;}

.base_xx{  line-height:40px; height:40px;}
.bd_but{ float:left; margin-top:10px;}
.bd_but a{ display:block; background:#ffba00; width:60px; height:30px; line-height:30px; color:#fff; text-align:center; border-radius:5px;}

.qrz_but{ float:right; margin-top:10px;}
.qrz_but a{ display:block; background:#ffba00; width:80px; height:30px; line-height:30px; color:#fff; text-align:center; border-radius:5px; font-size:14px;}

/*----------------------------个人中心-------------------------------*/
.basic{ overflow:hidden;}
.basic_l{ float:left; border-right:1px solid #f5f5f5; padding:30px; width:400px;}
.basic_l ul li{ overflow:hidden; padding-bottom:20px; margin-top:10px;}
.basic_l h1{ font-size:14px; color:#999; line-height:40px; overflow:hidden;}
.basic_l p{ line-height:40px;}
.basic_l b{ float:left; margin-right:60px; font-weight:normal;}
.basic_l span{ float:left; line-height:40px;}
.cz_but a{ width:60px; font-size:14px; color:#fff; margin-top:5px; text-align:center; height:30px; line-height:30px; background:#1b9bff; display:block;}
.basic_l .bline{ border-bottom:1px solid #F5F5F5;}
.basic_l em{background:url(../images/gr_ico.png)no-repeat; width:24px; height:24px; display:block; float:left; margin-top:10px;}
.basic_l i{ float:left; display:block;}
.basic_r{ float:right; margin:50px 100px;}
.basic_tb{ float:left; width:300px;}
.basic_ul{ float:right; margin-top:50px;}
.basic_ul ul li{ overflow:hidden; margin-bottom:20px;}
.basic_ul ul li span{ float:left; margin-right:30px;}
.basic_ul ul li em{ float:left; margin-right:20px; width:20px; height:20px;}
.basic_ul ul li b{ font-weight:normal;}
.dx{ background:#f8b600;}
.yy{ background:#45be89;}
.ly{ background:#f96768;}

/*圆形进度条*/
.prel2{ position:relative; overflow:hidden; z-index:1; width:300px;}
.progress_div2{ position:absolute; top:80px; left:60px; text-align:center; width:80px;}
.progress_div2 .tjd2{ font-size:12px; color:#666666}
.round{ line-height:20px; height:50px;}
.round span{ font-size:14px; color:#999;}
.round p{ font-size:17px;line-height:20px; height:20px; color:#333; margin:0px;}

.czmx{margin:20px 0px 20px; overflow:hidden;}
.czmx h1{ height:60px; line-height:60px; margin:20px;}
.czmx h1 span{ float:left; font-size:20px; margin-right:20px;}
.more_zd{background:url(../images/lan_sj.png) right no-repeat;padding-right:20px; font-size:14px; color:#1b9bff;}

/*弹出*/
.page_g{ background:rgba(0,0,0,0.6); position:fixed; top:0px; width:100%; height:100%; z-index:9;}
.page_g_con{ width:1200px; margin:0px auto; position:relative;}
.page_g_top{ position:absolute; top:0px; right:70px; background:url(../images/main_tts.png) no-repeat; display:block; width:95px; height:161px;}
.pgae_g_xx{ position:absolute; top:162px; right:0px; border:1px dashed #fff; padding:20px; width:300px; height:90px;}
.pgae_g_xx p{ line-height:40px; color:#fff;}
.iknow a{ display:block; background:#1bb1ff; width:100px; height:30px; line-height:30px; border-radius:5px; text-align:center; color:#fff; margin:10px auto;}
.top_rz{ position:relative; z-index:99;}

.tab_gun{ height:100px; overflow:auto;}