<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd" default-autowire="byName">
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
                <!-- <ref bean="demoTaskTrigger" /> -->
                <ref bean="subjectTaskTrigger" />
                <ref bean="contractTaskTrigger" />
                <ref bean="repaymentOverdueTaskTrigger" />
                <ref bean="quotaRecordTask" />
                <ref bean="financingApplyBidTrigger" />
			</list>
		</property>
	</bean>
	
	<bean id="demoTaskTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<bean class="cn.sunline.framework.task.DemoTask" />
		</property>
		<property name="cronExpression" value="${schedule.demoTask.cronExpression}" /><!-- 0 0/1 * * * ?  见schedule.properties-->
	</bean>
	<bean id="subjectTaskTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<bean class="cn.sunline.framework.task.SubjectTask" />
		</property>
		<property name="cronExpression" value="${schedule.subjectTask.cronExpression}" /><!-- 0 0/1 * * * ?  见schedule.properties-->
	</bean>
	<bean id="contractTaskTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<bean class="cn.sunline.framework.task.ContractTask" />
		</property>
		<property name="cronExpression" value="${schedule.contractTask.cronExpression}" /><!-- 0 0/1 * * * ?  见schedule.properties-->
	</bean>
	<bean id="repaymentOverdueTaskTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<bean class="cn.sunline.framework.task.RepaymentOverdueTask" />
		</property>
		<property name="cronExpression" value="${schedule.repaymentOverdueTask.cronExpression}" /><!-- 0 0/1 * * * ?  见schedule.properties-->
	</bean>
	<bean id="quotaRecordTask" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<bean class="cn.sunline.framework.task.QuotaRecordTask" />
		</property>
		<property name="cronExpression" value="${schedule.quotaRecordTask.cronExpression}" /><!-- 0 0/1 * * * ?  见schedule.properties-->
	</bean>
	<bean id="financingApplyBidTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<bean class="cn.sunline.framework.task.FinancingApplyBidTask" />
		</property>
		<property name="cronExpression" value="${schedule.financingBidOverdueTask.cronExpression}" /><!-- 0 0/1 * * * ?  见schedule.properties-->
	</bean>
</beans>