@charset "utf-8";
/* CSS Document */
/* 这是内页样式 */
.clearfix{zoom:1;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}

.mapString{height:30px; line-height:1.8; color:#aaaaaa; font-size:14px; margin-top:10px; margin-bottom:10px;}
.mapString span{width:auto; display:inline-block; color:#aaaaaa; font-size:14px;}
.mapString a{width:auto; display:inline-block; color:#aaaaaa; font-size:14px; margin:0px 3px;}
.mapString a:hover{color:#666666;}
.Leftbox{width:226px; overflow:hidden; height:auto; border:1px solid #dadada; transition:border linear .2s,box-shadow linear .2s; -moz-transition:border linear .2s,-moz-box-shadow linear .3s; -webkit-transition:border linear .2s,-webkit-box-shadow linear .2s; box-shadow:0 0 8px rgba(200,200,200,.3); -moz-box-shadow:0 0 8px rgba(200,200,200,.3); -webkit-box-shadow:0 0 8px rgba(200,200,200,3); background:#fff; float:left;}
.Leftbox h2{ width: 100%; height: 55px; line-height: 55px; background: #61aefd; text-align: center; margin-bottom: 25px; font-size: 18px; color: #fff;}
/* .left_img{ width:226px; float:left; margin:10px 0px;overflow:hidden; text-align: center;}
.left_img img{ width: 150px; height: 247px;} */
.LeftMenu li{border-bottom: 1px #eeeeee solid;}
/* .LeftMenu{padding:1px; overflow:hidden; height:auto; border:1px solid #dadada; transition:border linear .2s,box-shadow linear .2s; -moz-transition:border linear .2s,-moz-box-shadow linear .3s; -webkit-transition:border linear .2s,-webkit-box-shadow linear .2s; box-shadow:0 0 8px rgba(200,200,200,.3); -moz-box-shadow:0 0 8px rgba(200,200,200,.3); -webkit-box-shadow:0 0 8px rgba(200,200,200,3); background:#fff; float:left;} */
.LeftMenu{ width: 226px; margin:0 auto;}
.LeftMenu a{width:223px; height:60px; line-height:60px; display:block; font-size:18px; color:#333;/*  background:url(/resources/images/left_menu_left_01.jpg) no-repeat; margin-bottom:1px;  */text-align:center;}
/* .LeftMenu a:hover{color:#fff; background:url(/resources/images/left_menu_left_02.jpg) no-repeat;} */
.LeftMenu a.LeftMenuLink{color:#5fabf9;background:#f4f4f4; border-left: 3px #5fabf9 solid;}

.projectRightBox{width:950px; height:auto; float:right;background: #fff; border: 1px #ddd solid; border-radius:4px;-webkit-box-shadow: 0 0 2px #ddd;  -moz-box-shadow: 0 0 2px #ddd;   box-shadow: 0 0 2px #ddd;}
.pjRightContBox{width:770px; height:auto; padding:0 15px; height:auto; display:block; position:relative;/*  background:url(/resources/images/ItemTitleBg_2.png) repeat-y; */ margin-top:8px;}
/* span.pjRtTop,span.pjRtBottom{width:100%; height:8px; overflow:hidden; position:absolute; display:block;}
span.pjRtTop{left:0px; top:-8px; background:url(/resources/images/ItemTitleBg_1.png) no-repeat;}
span.pjRtBottom{left:0px; bottom:-8px; background:url(/resources/images/projectContRtBg_3.png) no-repeat;} */
.pjRightCont{width:100%; height:auto; line-height: 40px;}
.h2WrapBox{width:auto; height:41px; position:relative; left:0px; top:5px; border-bottom: 1px #ccc dashed;}
.h2WrapBox span{width:auto; height:41px; line-height:36px; display:inline-block;  padding-left:15px; font-size:18px; color:#FFF;}
.h2WrapBox i{width:19px; height:41px; display:inline-block; /* background:url(/resources/images/ItemTitleBg.png) no-repeat; */ overflow:hidden; vertical-align:top;}
/* .h2WrapBox span.Blue{background-position:0px 0px;}
.h2WrapBox span.Orange{background-position:0px -86px;}
.h2WrapBox span.Green{background-position:0px -173px;}
.h2WrapBox span.Red{background-position:0px -259px;}
 */
 .pjRightCont_new{width:720px; background:url(/resources/images/contListxxxx01.jpg) no-repeat 5px; border-bottom: 1px #ccc dashed; padding-left:30px;}
 .pjRightCont .pj_time{ float: right; font-size: 12px; color:#999; padding-right:5px;}
 .pjRightCont a{ float: left;}
.pjcontBox{width:726px; height:auto; padding-top:10px; color:#666666;}
.pjcontLeft{width:358px; height:auto; float:left;}
.pjcontRight{width:358px; height:auto; float:right;}


/* 条件列表 */
.condition h1{height: 40px;line-height: 30px;font-size: 17px;color: #333;padding-left: 15px;margin-top: 20px;border-bottom: 1px solid #DDDDDD;}
ul.conditionList{width:100%; height:auto; margin:10px 7px;}
ul.conditionList li{/* width:100%;  */height:30px; margin-top:5px; display:block;}
ul.conditionList dl{width:100%; height:auto; color:#666666;}
ul.conditionList dl dt,ul.conditionList dl dd{float:left; height:24px; line-height:24px; font-size:14px;}
ul.conditionList dl dt{width:80px; text-align:right; font-weight: bold;}
ul.conditionList dl dd{width:auto;}
ul.conditionList dl dd span{width:auto; height:24px; line-height:24px; display:inline-block; margin:0px 5px; padding:0px 10px; text-align:center; cursor:pointer;  -moz-border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; font-size:14px;}
ul.conditionList dl dd span:hover{color:#0C387D;}
ul.conditionList dl dd span.active{background:#0C387D; color:#FFF;}

/* 列表信息 */
.listContLeft{width:1100px; height:auto; padding:0px 10px;/*  border-right:1px solid #cccccc; */ float:left;}
.listInfoTitle{width:100%; height:50px; line-height:50px; position:relative;}
.listInfoTitle h2{width:auto; height:50px; line-height:50px; font-size:20px; color:#4a4a4a; font-weight:normal;}
.listInfoTitle h2 i{width:auto; height:16px; display:inline-block; margin:0px 3px; vertical-align:middle;}
.listInfoTitle h2 img{vertical-align:middle;}
.listInfoTitle span{width:auto; height:50px; line-height:50px; text-align:right; display:inline-block; position:absolute; top:0px; right:20px; font-size:14px; color:#666666;}
.listInfoTitle b{width:auto; height:50px; line-height:50px; text-align:right; display:inline-block; position:absolute; top:-30px; right:20px; font-size:14px; color:#666666;}

table.listInfoTab{width:100%; height:auto; font-size:12px; color:#666666; margin-top:10px;}
table.listInfoTab tbody th,table.listInfoTab tbody td{height:46px; line-height:46px; vertical-align:middle; font-weight:normal; border-bottom:1px solid #ededed;}
table.listInfoTab tbody th{text-align:right;}
table.listInfoTab tbody td{width:130px;}
table.listInfoTab tbody td img{vertical-align:middle;}
.calculators{width:85px; height:28px; line-height:28px; text-align:center; border:1px solid #c4c4c4; display:block; margin:auto; margin-top:40px; background:#fff;}

.dataContBox table.vipSeversTable{ width: 1100px;}

.listContRight{width:320px; height:auto;}
a.templates{width:auto; height:auto; display:inline-block; float:right;}
.investment{width:100%; height:auto; color:#666666; margin-top:30px;}
.investment h4{width:auto; line-height:24px; font-size:12px; font-weight:normal; color:#666666; display:block;}
.investment h3{width:auto; line-height:24px; font-size:14px; font-weight:normal; color:#666666; display:block;}
.investment span{width:auto; line-height:30px; display:inline-block; margin-right:15px; font-size:12px;}
.investment font{margin:0px 3px; font-size:20px; color:#ff7e00;}
.investmentTx{width:270px; height:40px; line-height:40px; border:1px solid #cccccc; margin-top:3px; font-size:14px;}
.investmentTx input{width:235px; height:24px; line-height:24px; margin:6px; border:0px; color:#666666;}
.suBnt_a,.collect{width:105px; height:33px; line-height:33px; text-align:center; font-size:16px; color:#fff; display:inline-block; margin:0px 10px;;}
.suBnt_a{background:url(/resources/images/listinfo_bnt_a.png) no-repeat left top;}
.suBnt_a:hover{color:#666666;}
.collect{background:url(/resources/images/listinfo_bnt_b.png) no-repeat left top;padding-bottom:6px;}


/* 资料信息 */
.dataInfoBox{width:100%; height:auto; margin-top:10px;}
.dataInfoTabBox{width:100%; height:38px; position:relative; border-bottom:1px solid #dadada; background:url(../images/invest_view_19.gif);border:1px solid #dcdcdc; clear: both;}
.dataInfoTab{width:100%; height:38px; position:absolute;}
.dataInfoTab li{width:auto; float:left; margin-right:10px;}
.dataInfoTab span{width:auto; height:38px; line-height:38px; text-align:center; font-size:14px; color:#284b96; padding:0px 10px; display:inline-block;cursor:pointer; -moz-border-radius:5px 5px 0px 0px; -webkit-border-radius:5px 5px 0px 0px; border-radius:0px 0px 0px 0px;}
.dataInfoTab span.dataTabLink{ height:38px;background:#e6b72c; color:#fff; margin-left:10px;}
.dataInfoCont{width:1180px; height:auto; border:1px solid #dadada; padding:10px; background:#fff; margin-bottom:20px; overflow: hidden;}

.dataContBox ul{width:100%; height:auto;}
.dataContBox ul li{width:auto; height:auto; float:left; margin:10px; display:inline; line-height:10px; text-align:center;}
.dataContBox ul li a{width:auto; height:auto; display:block;}
.dataContBox ul li span{width:84px; height:64px; padding:1px; border:1px solid #cccccc; display:block;}
.dataContBox ul li img{width:84px; height:64px;}
.dataContBox h5{width:100%; line-height:30px; font-size:16px; border-bottom:1px solid #dadada; clear:both; color:#666666;}
.dataContBox p{width:100%; height:auto; line-height:1.8; color:#666666;}
.dataConttx{width:100%; height:auto; margin:15px 0px;}
.listContRight h1{width:100%; height:40px; line-height:40px; font-size:20px; color:#666666; font-weight:normal;}

.dataContBox .pag_div ul li{ margin: 0;}

table.dataContTable{width:100%; height:auto; margin-top:10px;}
table.dataContTable th{color:#303030;}
table.dataContTable th,table.dataContTable td{text-align:center; height:30px; line-height:30px; vertical-align:middle;}
table.dataContTable tbody td{ color:#666666;}
table.dataContTable tbody td img{vertical-align:middle;}

.dataContBox table.dataContTable{background: #d0d0d0;}
.dataContBox table.dataContTable th,.dataContBox table.dataContTable td{background: #fff; height: 35px; line-height: 35px; color: #666;}
.dataContBox table.dataContTable th{ background: #f0f0f0;}

.dataContBox .dataContBox_img li{width:160px; height: 226px; float:left; margin:10px; padding:3px; border: 1px #d0d0d0 solid;}
.dataContBox_img li:hover{ border: 1px #f00 solid;}
.dataContBox .dataContBox_img li img{ width:160px; height: 226px; }

.tabs-title-t{ border-bottom: 1px #ccc solid;}
.tabs-title-t dd{ float: left; width: auto; height: 40px; line-height: 40px; font-size: 16px; font-weight: bold; padding:0 20px; margin-right: 10px; color: #666; margin-bottom: -1px;}
.tabs-title-t dd.focus{ border-bottom: 2px #e6b72c solid; color:#e6b72c; }

/* 我要借款 */
.listBanner{width:935px; height:200px; overflow:hidden; margin:auto;}
.listBanner img{width:935px; height:200px;}
.listBannerTo{width:100%; height:180px; margin-top:-3px; background:#51abff; margin-bottom:20px;}
.listBannerTo img{width:960px; height:180px;}

.projectListBox{width:100%; height:auto; margin-top:10px; border-bottom:1px solid #c7c7c7; padding-bottom:10px;}
.projectListBox span.prctItemTitle{width:auto; height:37px; line-height:37px; padding-left:10px; padding-right:40px; position:relative; background:#73b500; -moz-border-radius:5px 0px 0px 5px; -webkit-border-radius:5px 0px 0px 5px; border-radius:5px 0px 0px 5px; display:inline-block; color:#fff; font-size:14px; font-weight:normal; margin-top:15px;}
.projectListBox span.prctItemTitle em{width:30px; height:37px; display:inline-block; position:absolute; right:0px; top:0px; background:url(/resources/images/listto_titleBg2.jpg) no-repeat right top; overflow:hidden;}

.prctItemDL{width:100%; height:auto; margin-top:10px;}
.prctItemDL li{width:100%; height:auto; display:block; margin-top:5px;}
.prctItemDL li p{width:830px; line-height:2.2; font-size:14px; display:inline-block; color:#a0a0a0; float:left; font-weight:normal;}
.prctItemDL li span{width:100px; text-align:right; line-height:2.2; font-size:14px; display:inline-block; font-weight:bold; color:#666666; float:left;}

.listToUL{width:100%;}
.listToUL li{width:205px; height:auto; padding-bottom:25px;}
.listToUL li div.prjListInfo{width:203px; margin:auto; position:absolute;}
.listToUL li .prcBorder{border:1px solid #5db1ff;}
.listToUL li p{width:198px; height:auto; line-height:1.5; display:block; padding-left:5px;}
.listToUL li div.prjListTx{width:100%; height:auto;}
.listToUL li h3{margin-top:50px;}

.prcListUL{width:100%; height:150px; position:relative; margin-top:10px; z-index:88;}
.prcListUL li{width:222px; height:150px; position:relative; float:left; margin-right:13px;}
.prcListUL li div.prcDivhover{border-color:#51abff; height:auto;}
.prcListTxBox{width:210px; height:125px; position:absolute; padding-bottom:25px; background:#fff; padding:0px 5px; margin:auto; padding-bottom:25px; overflow:hidden;border:1px solid #fff;}
.prcListTxBox span{width:85px; height:85px; float:left; display:inline-block; background:url(/resources/images/projectItem.png) no-repeat;}
.prcListTxBox h3{width:125px; height:30px; float:left; font-size:16px; color:#3e3e3e; font-weight:normal; margin-top:40px;}
.prcListTxBox h2{width:100%; height:30px; float:left; font-size:12px; color:#666666; margin-top:30px; display:none;}
.prcListTxBox label{width:100%; line-height:1.6; color:#a7a7a7; display:block; clear:both;}
.prcListTxBox p{width:100%; line-height:1.6; color:#666666; display:block; clear:both; display:none;}
.prcListTxBox span.prjListItem_1{background-position:0px 5px;}
.prcListTxBox span.prjListItem_2{background-position:0px -125px;}
.prcListTxBox span.prjListItem_3{background-position:-100px 5px;}
.prcListTxBox span.prjListItem_4{background-position:-100px -125px;}
.prcListTxBox a{position:absolute; width:auto; height:24px; line-height:24px; bottom:2px; right:2px; color:#a7a7a7;}
.prcListTxBox a:hover{color:#ff8400;}

.prcListUL li:hover .prcListTxBox{border-color:#51abff; height:auto;}
.prcListUL li:hover .prcListTxBox  h2,.prcListUL li:hover .prcListTxBox  p{display:block;}

.processPic{width:100%; height:auto; padding:10px; margin:auto; margin-top:10px; text-align:center;}
.processInfoLink{width:100%; height:auto; line-height:30px;}
/*  padding-left 改为了50px 借款流程样式挑战 */
.processInfoLink a{width:auto; height:24px; line-height:24px; font-size:12px; display:inline-block; background:url(/resources/images/baseIcon.png) no-repeat; padding-left:50px; margin-left:30px; margin-top:6px;}
.processInfoLink a.topIcon_4{background-position:-263px 3px;}

.invest-top {
	overflow:hidden;
	zoom:1;
	margin:0px
}
.invest-top .model-box {
	float:left;
    background: #fff;
	display:inline;
	width:830px;
	margin:0;
	min-height:340px;
	height:auto !important;
	height:340px;
	_overflow:visible;
	border:1px solid #d3d8dc;
}
.invest-top .invest-sum {
	float:right;
	width:350px;
	border:1px solid #d3d8dc;
}
.invest-top .head {
	height:50px;
	line-height:50px;
	background:#fefcf7;
	width:auto;
	z-index:1;
	border-bottom:1px solid #d3d8dc;
	padding-left:10px;
}
.invest-top .head h2 {
	font-size:16px;
	float:left;
	font-weight:bold;
	padding-left: 10px;
}

.invest-top .head .icons {
	float:left;
	display:inline;
	margin:18px 0 0 3px
}
.invest-top .head .type {
	width:47px;
	height:16px;
	background-position:-454px -220px;
	text-indent:7px;
	font-size:12px;
	color:#fff;
	line-height:16px;
	font-weight:normal
}
.invest-top .head b {
	float:right;
	font-weight:normal;
	font-size:12px
}
.invest-top .head .type-green {
	width:auto;
	padding:0 3px;
	height:16px;
	line-height:15px;
	text-indent:0px;
	text-align:center;
	background:#18b160;
	font-size:12px;
	color:#fff;
	font-weight:normal
}

.profit {
	height:80px;
	padding-top:30px;
	overflow:hidden;
	position:relative;
	width:100%;
}
.profit dl {
	float:left;
	display:inline;
	border-left:1px solid #d3d8dc;
	margin-left:-2px;
	height:80px;
	width:30%;
	position:relative
}
.profit dl.f {
	width:40%
}
.profit dt {
	padding-left:20px;
	line-height:normal;
	position:relative
}
.profit dt .icons {
	position:absolute;
	left:auto;
	top:2px;
	margin-left:3px
}
.profit dt b {
	float:left;
	display:inline;
	font-weight:normal
}
.profit dd {
	font-size:20px;
	position:absolute;
	left:20px;
	top:30px;
	padding:0
}
.profit em {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:34px;
	color:#FD5B33;
	padding-right:5px
}
.profit ins {
	font-size:24px;
	color:#FD5B33;
	text-decoration:none;
	font-style:normal
}
.profit .flot {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:24px;
	font-weight:bold;
	color:#69737b
}
.profit .flot-org {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#fc8936
}
.profit-lottery dl {
	width:34%
}
.profit-lottery dl.f {
	width:45%
}
.profit-lottery dl.r {
	width:20%
}
.profit-lottery em {
	font-size:36px;
	font-style:normal;
}
.profit-lottery .flot {
	color:#fc8936;
	font-size:20px;
	font-weight:normal
}
.profit-lottery .flot em {
	color:#fc8936
}
.expl {
	padding:20px 0;
	height:30px;
	overflow:hidden;
	width:100%;
	border-top:1px solid #d3d8dc
}
.expl ul {
	height:30px;
	overflow:hidden
}
.expl li {
	float:left;
	display:inline;
	text-align:center;
	line-height:30px;
	border-left:1px solid #d3d8dc;
	width:33%;
	margin-left:-2px;
	position:relative
}
.expl .vouch {
	color:#7bac00;
	font-size:14px;
	font-weight:bold;
	position:relative;
	padding-left:18px
}
.expl .vouch .icons {
	position:absolute;
	left:0;
	top:2px
}
.expl .per {
	height:12px;
	width:60%;
	font-size:0;
	line-height:0;
	overflow:hidden;
	float:left;
	display:inline;
	background:#e8ecef;
	margin:10px 0 0 20px;

}
.expl .per div {
    background: url(../images/loadingbg.gif);
	height:12px;
	float:left;
	width:0%;

}
.expl strong {
	font-weight:normal;
	float:left;
	margin-left:5px
}

.invest-sum em {
	font-family:Tahoma, Geneva, sans-serif
}
.invest-sum .head h2 {
	margin:0
}
.invest-sum .head h2 .icons {
	width:12px;
	height:12px;
	background-position:-120px -98px;
	position:absolute;
	right:auto;
	top:19px;
	left:auto;
	text-indent:-9999px;
	font-size:0;
	line-height:normal;
	font-weight:normal;
	margin:0 0 0 3px
}
.invest-sum .head .icons:hover {
	background-position:-103px -98px
}
.invest-sum .head b {
	color:#8a949c;
	position:absolute;
	right:10px;
	top:0
}
.invest-sum .head em {
	font-size:14px;
	padding:0 3px
}
.invest-sum .input-sum {
	height:40px;
	padding:10px 0 0 30px;
	font-size:16px;
	line-height:46px
}
.invest-sum .input-sum label {
	font-size:13px
}
.invest-sum .input-sum .input {
	padding:12px 5px;
	width:78%;
	color:#999;
	font-size:13px;
	border:1px #CCC solid
}
.invest-sum .exp {
	padding-left:30px;
	height:30px;
	line-height:30px
}
.invest-sum .exp em {
	color:#fc8936;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif
}
.invest-sum .var-code {
	padding-left:30px;
	height:35px;
	line-height:32px
}
.invest-sum .var-code label, .invest-sum .var-code input, .invest-sum .var-code img {
	float:left;
	display:inline;
	margin-right:5px
}
.invest-sum .var-code input {
	width:60px;
	height:19px;
	line-height:19px;
	padding:5px 5px;
	border:1px #CCC solid
}
.invest-sum .refreshcode {
	height:30px;
	width:30px;
	float:left;
	display:inline;
	line-height:normal;
	text-align:center;
	position:relative;
	font-size:12px;
	color:#475058
}
.invest-sum .refreshcode:hover {
	text-decoration:underline
}
.invest-sum .refreshcode i {
	position:absolute;
	left:8px;
	top:3px
}
.invest-sum .refreshcode b {
	position:absolute;
	left:0;
	bottom:1px;
	width:100%;
	font-weight:normal
}
.invest-sum .error {
	padding:0 0 5px 30px;
	color:#d35353;
	margin-top:-10px;
	display:none;
}
.invest-sum .iwant-in {
	height:35px;
	position:relative;
    padding-left: 30px;
}
.invest-sum .iwant-in .gbtn {
	height:50px;
	display:block;
	margin:0 0px;
	padding:0;
	text-align:center;
	line-height:50px;
	color:#fff;
	font-size:16px;
	text-shadow:none;
}


.gbtn, .gbtn-disabled, .gbtn-org {
	color:#fff;
	font-size:13px;
	position:relative;
	white-space:nowrap;
	background:#4591d7;
	display:inline-block;
	padding:3px 5px;
	cursor:pointer;
	overflow:hidden;
	font-family:Microsoft YaHei
}
.gbtn:visited {
	color:#fff
}
.gbtn:hover {
	background:#ff6c00;
	text-decoration:none;
	color:#fff
}
.gbtn-org {
	background:#fc8936
}
.gbtn-org:hover {
	background:#EC7824
}
.gbtn-gray {
	background:#e7ecef;
	color:#333
}
.gbtn-gray:visited {
	color:#333
}
.gbtn-gray:hover {
	background:#e7ecef;
	color:#333
}
.gbtn-disabled {
	background:#a1acb4;
	cursor:default
}
.gbtn-disabled:hover {
	background:#a1acb4
}
.getCodeBotton, .codeDisabled {
	color:#fff;
	font-size:13px;
	cursor:pointer;
	position:relative;
	white-space:nowrap;
	background:#fc8936;
	display:inline-block;
	padding:3px 5px;
	cursor:pointer;
	overflow:hidden
}

.gbtn, .model-box, .dialog-main, .custom-select {
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.invest-sum .input-sum .input {
padding: 5px;
width: 190px;
color: #999;
font-size: 13px;
}
/* input, input[type="password"], input[type="search"] {
-webkit-appearance: textfield;
padding: 1px;
background-color: white;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
cursor: auto;
} */
/* input, select {
font-size: 12px;
line-height: 16px;
color: #7c7c7c;
vertical-align: middle;
margin-right: 5px;
} */
.gbtn, .model-box, .dialog-main, .custom-select {
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}
* {
margin: 0;
padding: 0;
}

.invest-sum .iwant-in .time {
	position:absolute;
	left:0;
	top:-30px;
	width:100%;
	text-align:center;
	color:#8a949c
}
.invest-sum .agreement {
	height:30px;
	line-height:30px;
	position:relative;
	padding-left:30px;
    font-size:13px;
}
.invest-sum .agreement .yCheckbox {
	position:absolute;
	left:30px;
	top:7px
}
.invest-sum .agreement a {
    font-size: 13px;
    color: #fc8936;
}
.yCheckbox .selected {
background-position: 0 -20px;
}
.yCheckbox .ico, .yRadio .ico {
width: 18px;
height: 18px;
position: absolute;
left: 0;
top: 0;
cursor: pointer;
background: url(../images/fs.png) no-repeat 0 -40px;
}
.yCheckbox .hover {
	background-position:0 0
}
.yCheckbox .selected {
	background-position:0 -20px
}
.yCheckbox .disabled, .yCheckbox .disabled2 {
	background-position:0 -40px;
	cursor:default;
	opacity:0.5;
	filter:alpha(opacity=50)
}
.yCheckbox .disabled2 {
	background-position:0 -60px
}
.invest-sum .agreement em {
	font-size:14px;
	padding:0 3px
}
.invest-sum .agreement .b {
	float:left;
	display:inline
}
.invest-sum .agreement .yhelp {
	float:left;
	display:inline;
	margin:8px 0 0 3px
}
.invest-sum .doned {
	text-align:center;
	height:200px;
	line-height:200px;
	color:#8a949c;
	display:none
}
.invest-top .profit-plan, .invest-top .invest-sum-plan {
	min-height:360px;
	height:auto !important;
	height:360px;
	_overflow:visible
}
.invest-sum-plan .doned {
	height:240px;
	line-height:240px
}
.profit-plan .profit {
	padding-top:50px
}
.invest-sum-plan .input-sum {
	padding-top:20px;
	margin-bottom:10px
}
.invest-sum-plan .exp {
	height:auto;
	overflow:hidden;
	zoom:1;
	line-height:20px;
	padding-bottom:6px;
	position:relative
}
.invest-sum-plan .exp h2 {
	float:left;
	display:inline;
	font-size:14px;
	padding-bottom:5px
}
.invest-sum-plan .lab {
	float:left;
	display:inline;
	height:20px;
	padding:0 0 0 15px;
	margin-right:5px;
	color:#8a949c;
	position:relative
}
.invest-sum-plan .lab .yRadio {
	position:absolute;
	left:0;
	top:4px
}
.invest-sum-plan .lab b {
	font-weight:normal;
	float:left;
	display:inline
}
.invest-sum-plan .lab .yhelp {
	float:left;
	display:inline;
	margin:3px 0 0 3px
}
#left{ width:1000px;}


.in_jk_list .btn{
    height: 30px;
    width: 80px;
    background-color: #c9c9c9;
    color: #ffffff;
    font-size:15px;
    text-align: center;
    padding: 6px 10px 6px 10px;
}
.gua_nav_right{
    margin-right:16px;
    width: 200px;
    float: right;
}

.gua_nav_left{
    width: 260px;
    float: left;
}

.repay {
	height:30px;
	line-height:30px;
	padding-left:20px;
	position:relative
}
.repay .fix-tag {
	margin:7px 3px 0 0;
	float:left;
	display:inline
}
.repay .t {
	float:left;
	display:inline;
	position:relative
}
.repay .t em {
	font-family:Tahoma
}
.repay .yinfo {
	position:absolute;
	left:auto;
	top:9px
}
.repay ins {
	padding-left:15px;
	font-style:normal;
	text-decoration:none
}

.working-day {
	padding:30px 0 28px 30px;
	height:50px;
	color:#8a949c
}
.explain {
	padding:0 20px 9px;
	line-height:1.4;
	color:#8a949c;
	margin-top:10px;
}
.explain p{ height:40px; overflow:hidden}
.explain strong {
	font-size:14px;
	padding-right:5px;
	color:#475058
}

/* 产品简介  */
.porjectHead{width:100%; height:33px; position:relative; border-bottom:1px solid #dadada; top:5px;}
.porjectHead ul{width:610px; height:33px; position:absolute; bottom:-1px;}
.porjectHead ul li{width:auto; height:33px; position:relative; float:left; margin-left:5px; display:inline;}
.porjectHead ul li span{width:auto; height:30px; line-height:31px; border:1px solid #0697da; border-bottom:0px; padding:0px 10px; -moz-border-radius:5px 5px 0px 0px; -webkit-border-radius:5px 5px 0px 0px; border-radius:5px 5px 0px 0px; display:inline-block; cursor:pointer; text-align:center; font-size:14px; color:#fff; background:#0697da;}
.porjectHead ul li span.porjectHeadTabLink{height:32px; background:#fff; border-color:#dadada; color:#666666;}
a.earningsSun{width:80px; height:24px; line-height:25px; padding:2px 10px; text-align:center; color:#979798; display:inline-block; position:absolute; top:0px; right:5px; background:url(/resources/images/project_sun.png) no-repeat left top; z-index:88;}
a.earningsSun:hover{color:#fe7900;}
.porjectBox{width:100%; height:auto; margin-top:20px;}
.porjectBox div{width:100%; height:auto; position:relative; padding-bottom:40px;}
.porjectBox h1{width:100%; line-height:2.2; font-size:18px; font-weight:normal;}
.porjectBox label{width:100%; line-height:1.5; color:#c0bdbd; display:block;}

table.porjectTable_one{width:100%; height:auto; margin-top:10px;}
table.porjectTable_one tbody th,table.porjectTable_one tbody td{height:30px; vertical-align:middle; font-weight:normal; font-size:12px; color:#666666; line-height:1.8;}
table.porjectTable_one tbody th{width:90px; text-align:right;}
table.porjectTable_one tbody td{width:auto; padding-left:2px;}

a.application{width:105px; height:34px; line-height:34px; background:#ff7404; display:inline-block; position:absolute; bottom:0px; right:0px; text-align:center; color:#fff; font-size:16px;}

.porcListHxBox{width:100%; height:auto; padding-bottom:1px; border-bottom:1px solid #5ac000; display:block;}
.porcListHxBox span{width:auto; height:30px; line-height:30px; background:#5ac000; padding:0px 10px; color:#fff; display:inline-block; font-size:14px; font-weight:normal;}

.porjectBox p{width:auto; padding:10px; line-height:1.6; color:#666666; display:block;}
a.porjectInfoMore{width:auto; height:24px; line-height:24px; padding:0px 10px; color:#fff; display:inline-block; background:#fe7900; position:absolute; bottom:0px; left:46%;}

.ContentTextH{width:100%; height:40px; line-height:40px; font-size:18px; font-weight:normal; color:#666666;}
.ContentTextH6{width:100%; height:24px; line-height:24px; font-size:16px; font-weight:normal; color:#0697da;}
.ContentTextBox{width:100%; height:auto; padding-bottom:20px;}
.ContentTextBox p{width:100%; line-height:1.6; color:#666666; display:block;}

.photoList{width:100%; height:auto; margin-top:10px;}
.photoList li{width:100%; height:auto; padding:20px 0px; border-bottom:1px dashed #a9a9a9;}
.photoListPic{width:160px; height:180px; padding:1px; border:1px solid #d5d5d5; float:left;}
.photoListPic{width:160px; height:180px;}
.photoListCont{width:545px; height:auto; float:left; margin-left:15px; display:inline;}
.photoListCont h6{width:100%; height:25px; line-height:30px; border-bottom:1px solid #0697da; color:#0697da; font-weight:normal; font-size:16px; display:block; margin-bottom:5px;}
.photoListCont h6 label{width:auto; font-size:12px; display:inline-block; margin:0px 20px; color:#b2b2b2;}
.photoListCont p{width:100%; height:auto; line-height:1.6; color:#666666;}
.photoListLogo{width:160px; height:70px; padding:1px; border:1px solid #d5d5d5; float:left;}
.photoListLogo img{width:160px; height:70px;}

ul.contentListxxxxUL{width:100%; height:auto;}
ul.contentListxxxxUL li{width:auto; line-height:2.6; border-bottom:1px dashed #a9a9a9; color:#666666; font-size:14px; padding-left:25px; background:url(/resources/images/contListxxxx01.jpg) no-repeat 3px 10px;}

table.applicationTable{width:100%; height:auto; margin-top:10px;}
table.applicationTable tbody th,table.applicationTable tbody td{height:40px; line-height:40px; color:#666666; font-weight:normal;}
table.applicationTable tbody td{width:auto;}
table.applicationTable tbody th{width:120px; text-align:right;}
.applicationtx{width:auto; height:24px; border:1px solid #aaadb2; color:#666666; padding:0px 3px;}
.applicationTxss{width:500px; max-width:500px; height:72px; min-height:48px; border:1px solid #aaadb2; padding:3px; color:#666666;}
.appSubmitBnt{width:auto; padding:0px 10px; height:28px; line-height:28px; background:#ff8400; color:#FFF; text-align:center; font-size:14px; border:0px; cursor:pointer; display:inline-block;}
table.applicationTable tbody td span{width:auto; display:inline-block; margin-right:15px;}

/* 找回密码 */
.forgotpwdBox{width:400px;  margin:40px auto 0; color:#666666;}
.forgotpwdHead{width:100%; height:42px;}
.forgotpwdHead span{width:180px; height:42px; background:url(/resources/images/pwdssBG.png) no-repeat; display:inline-block; cursor:pointer;}
.forgotpwdone{float:left;}
.forgotpwdtwo{float:right;}
.forgotpwdHead span.iconPwd_one{background-position:left top;}
.forgotpwdHead span.iconPwd_ones{background-position:left -71px;}
.forgotpwdHead span.iconPwd_twos{background-position:right top;}
.forgotpwdHead span.iconPwd_two{background-position:right -71px;}
table.forgotpwdTable{width:100%; height:auto; margin-top:20px;}
table.forgotpwdTable tbody th,table.forgotpwdTable tbody td{height:40px; line-height:40px; font-weight:normal; font-size:14px;}
table.forgotpwdTable tbody th{width:120px; text-align:right;}
.forgotpwdTx{width:auto; height:28px; line-height:28px; border:1px solid #dbdbdb; display:inline-block; color:#666666; padding:0px 3px;}
.w120px{width:180px;}
.w50px{width:70px;}
.forgotpwdBnt{width:90px; height:30px; line-height:30px; background:#51abff; color:#fff; border:0px; text-align:center; cursor:pointer; display:inline-block;}
.forgotpwdBnt_two{width:80px; height:28px; line-height:28px; background:#dadada; color:#666666; text-align:center; cursor:pointer; display:inline-block;}
.forgotpwdBnt_two:hover{background:#fe7900; color:#fff;}
.forgotpwdSevers{width:100%; height:auto; line-height:1.8; text-align:center; color:#bcbcbc;}


/* 会员体系 */
table.vipTXTab{width:100%; height:auto; border:1px solid #e2e2e2; border-collapse:collapse; color:#666666; margin:20px auto; margin-top:0px;}
table.vipTXTab th,table.vipTXTab td{border:1px solid #e2e2e2;}
table.vipTXTab thead th{height:34px; line-height:34px; font-size:14px; font-weight:normal;}
table.vipTXTab tbody th,table.vipTXTab tbody td{height:28px; line-height:28px;}
table.vipTXTab tbody th{width:150px; text-align:center; font-size:14px; font-weight:normal;}

/* 计算器 */
.jsqBox{width:100%; height:auto;}
.jsqBox h4{width:100%; height:40px; line-height:40px; text-align:left; color:#666666; font-size:14px; font-weight:normal;}
.jsqBox p{width:100%; line-height:1.8; color:#a0a0a0; display:block;}
.testBox{width:100%; height:auto; border-top:2px solid #c0c0c0; margin:10px auto; padding-bottom:10px;}
.testBox span.prctItemTitle{width:auto; height:37px; line-height:37px; padding-left:10px; padding-right:40px; position:relative; background:#73b500; -moz-border-radius:3px 0px 0px 3px; -webkit-border-radius:3px 0px 0px 3px; border-radius:3px 0px 0px 3px; display:inline-block; color:#fff; font-size:14px; font-weight:normal; margin-top:15px;}
.testBox span.prctItemTitle em{width:30px; height:37px; display:inline-block; position:absolute; right:0px; top:0px; background:url(/resources/images/listto_titleBg2.jpg) no-repeat right top; overflow:hidden;}

table.jsqTable{width:100%; height:auto; color:#666666; margin:10px auto;}
table.jsqTable th,table.jsqTable td{height:30px; line-height:30px; font-weight:normal; width:120px;}
table.jsqTable th{text-align:right;}
table.jsqTable td{padding-left:3px;}
.jsqTx{width:auto; height:24px; line-height:24px; padding:0px 3px; border:1px solid #cdcdcd; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; color:#666666;}
table.jsqTable td select{width:auto; height:24px; line-height:24px; border:1px solid #cdcdcd; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; color:#666666;}

table.jsqInfoTable{width:100%; height:auto; margin:10px auto; color:#666666;}
table.jsqInfoTable th,table.jsqInfoTable td{text-align:center;}
table.jsqInfoTable thead th{height:30px; font-size:14px; font-weight:normal;}
table.jsqInfoTable tbody{width:auto; height:24px; line-height:24px;}
.jsqBntbox{width:100%; height:auto; margin:10px auto; text-align:center;}
.jsqBnt{width:auto; height:28px; line-height:28px; padding:0px 10px; background:#ff8400; border:0px; color:#fff; text-align:center; display:inline-block; margin:10px auto; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; cursor:pointer;}
.newsContentBox{width:100%; height:auto;}
.newsContentTitle{width:100%; height:30px; line-height:30px; border-bottom:1px solid #8f8f8f; position:relative;}
.newsContentTitle span{width:auto; font-size:16px; color:#666666;}
.newsContentTitle p{width:auto; height:25px; line-height:25px; position:absolute; right:0px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; top:2px; background:#e0e0e0;}
.newsContentTitle p a{width:auto; line-height:25px; padding:0px 10px; display:inline-block; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; color:#666666;}
.newsContentTitle p a:hover,.newsContentTitle p a.ttolink{background:#51abff; color:#fff;}
.newsContentTitle p label{width:1px; margin:0px 4px; color:#666666; display:inline-block; line-height:25px;}
dl.wendaList{width:100%; height:auto;}
dl.wendaList dt{width:100%; height:24px; line-height:24px; margin-top:5px; color:#666666;}
dl.wendaList dt b{width:17px; height:17px; display:inline-block; background:url(../images/wen.jpg) no-repeat right top; vertical-align:middle;}
dl.wendaList dt a{display:inline-block; margin-left:5px; color:#ff6600;}
dl.wendaList dd{width:100%; height:24px; line-height:24px; margin-top:10px; color:#666666; border-bottom:1px dotted #ababab; padding-bottom:5px;}
dl.wendaList dd b{width:17px; height:17px; background:url(../images/da.jpg) no-repeat left top; display:inline-block; vertical-align:middle; margin-right:5px;}
dl.wendaList dd a{color:#51abff;}
