.verticalAlign{ vertical-align:middle; display:inline-block; height:100%; margin-left:-1px;}

.xcConfirm .xc_layer{position: fixed; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; z-index: 2147000000;-webkit-animation: anim-show .2s linear;animation: anim-show .2s linear;}
.xcConfirm .popBox{position: fixed; left: 50%; top: 50%; background-color: #ffffff; z-index: 2147000001; width: 560px; height: 300px; margin-left: -280px; margin-top: -140px; font-weight: bold; color: #535e66;}
.xcConfirm .popBox .ttBox{box-sizing: border-box;height: 60px; line-height: 30px; padding: 14px 30px;border-bottom: 1px solid #DADADA;}
.xcConfirm .popBox .ttBox .tt{font-size: 18px; display: block; float: left; height: 30px; position: relative;}
.xcConfirm .popBox .ttBox .clsBtn{display: block; cursor: pointer; width: 22px; height: 22px; position: absolute; top: 22px; right: 30px; background: url(ic_close.png) no-repeat;}
.xcConfirm .popBox .txtBox{    box-sizing: border-box;padding-top: 10px;margin: 2px 25px; height: 166px; overflow: hidden;}
.xcConfirm .popBox .txtBox .bigIcon{float: left; margin-right: 20px; width: 48px; height: 48px; background-repeat: no-repeat; background-position: 48px 0;background: url(alerticons.png);}
.xcConfirm .popBox .txtBox p{ height: 166px; margin-top: 16px; line-height: 28px; overflow-x: hidden; overflow-y: auto;}
.xcConfirm .popBox .txtBox p input{width: 364px; height: 30px; border: solid 1px #eef0f1; font-size: 18px; margin-top: 6px;}
.xcConfirm .popBox .btnArea{border-top: 1px solid #DADADA;margin-top: 20px;}
.xcConfirm .popBox .btnGroup{margin-top: 10px;}
.xcConfirm .popBox .btnGroup .sgBtn{margin-top: 0px; margin-right: 20px;}
.xcConfirm .popBox .sgBtn{display: block; cursor: pointer; margin: auto; width: 95px; height: 35px; line-height: 35px; text-align: center; color: #FFFFFF; border-radius: 5px;}
.xcConfirm .popBox .sgBtn.ok{background-color: #4297E8; color: #FFFFFF;}
.xcConfirm .popBox .sgBtn.cancel{background-color: #546a79; color: #FFFFFF;}
.xc_layer {
	
}
.txtBox p{
	font-size: 20px;
}
.popBox{
	animation: anim-open .2s linear;
	-webkit-animation: anim-open .2s linear;
}


@-webkit-keyframes anim-open {
	0% { opacity: 0; -webkit-transform: scale3d(0, 0, 1); }
	100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); }
}

@keyframes anim-open {
	0% { opacity: 0; -webkit-transform: scale3d(0, 0, 1); transform: scale3d(0, 0, 1); }
	100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}
@-webkit-keyframes anim-show {
	0% { opacity: 0;}
	100% { opacity: .7; }
}

@keyframes anim-show {
	0% { opacity: 0; }
	100% { opacity: .7;}
}